@media (max-width: 1300px) {
   .admin-container{
   .dashboard{
    display: flex;
    flex-direction: column;
   }
   }
}

@media (max-width: 1100px) {
    .admin-container{
    .widget-container,
    .transition-container,
    .dashboard{
    max-width: 100%;
    background-color: pink;
    grid-template-columns: 1fr;
    }
    }
 }


   
